# Secrets
.env
config.local.yaml

# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.idea/
.vscode/

# Airflow / Astro
logs/
airflow.db
airflow.cfg
.astro/

# OS
Thumbs.db
.DS_Store
